.main{
    margin: 0   auto;
    position: relative;
    width: 1000px;
    height: 2000px;
    overflow: scroll;
    
    background: #ffffffff; 
}
.logo{
    position: absolute;
left: 170px;
top: 110px;
}
.description{
padding: 20px;
position: absolute;
width: 530px;
height: 120px;
left: 150px;
top: 385px;
font-size: 14px;
line-height: 140%;
}
.frame2{
position: absolute;
width: 300px;
height: 21px;
left: 558px;
top: 103px;
}
.frame2 div:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #474646;
}
.resume{
    position: absolute;
    width: 62px;
    height: 21px;
    left: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.about{
    position: absolute;
width: 48px;
height: 21px;
left: 122px;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.portfolio{
    position: absolute;
width: 70px;
height: 21px;
left: 210px;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.UI{
    position: absolute;
left: 168px;
top: 227px;
font-weight: bold;
font-size: 36px;
line-height: 140%;
color: #000000;
}
.available{
    position: absolute;
left: 209px;
top: 342px;
font-size: 14px;
line-height: 17px;
color: #0B0B0B;
}
.elipse8{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 183px;
    top: 342px;
    border-radius: 16px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
}
.union{
position: absolute;
width: 28px;
height: 10px;
left: 170px;
top: 345px;
background: #FCDED1;
box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.contacts{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px 20px;
position: absolute;
width: 190px;
height: 155px;
left: 660px;
top: 225px;
}
.contacts-info{
height: 20px;
font-size: 14px;
line-height: 140%;
}
.contacts-info  { 
 margin: 0px 0px 10px 0px;
}
.frame17{
    display: flex;
position: static;
left: 0px;
top: 105px;
order: 3;
}
.pic1{
    position: static;
order: 1;
margin: 0px 10px;
}
.pic2{
    position: static;
}
.language{
    display: flex;
flex-direction: column;
align-items: center;
padding: 17px 20px;

position: absolute;
width: 190px;
height: 97px;
left: 660px;
top: 1735px;
}
.languages{
width: 150px;
margin-bottom: 6px;
font-weight: bold;
font-size: 14px;
color: #000000;
}
.bla{
width: 150px;
font-size: 14px;
line-height: 140%;
color: #000000;
}
.addition{
    display: flex;
flex-direction: column;
align-items: center;
padding: 17px 20px;
position: absolute;
width: 190px;
height: 97px;
left: 490px;
top: 1735px;
}
.additional{
width: 150px;
margin-bottom: 6px;
font-weight: bold;
font-size: 14px;
color: #000000;
order: 1;
flex-grow: 0;
}
.htmlcss{
width: 150px;
font-size: 14px;
line-height: 140%;
color: #000000;
order: 2;
}
.proto{
    display: flex;
flex-direction: column;
align-items: center;
padding: 17px 20px;
position: absolute;
width: 190px;
height: 117px;
left: 320px;
top: 1735px;
}
.prototyping{
width: 150px;
margin-bottom: 6px;
font-weight: bold;
font-size: 14px;
color: #000000;
}
.blab{
    width: 150px;
font-size: 14px;
line-height: 140%;
color: #000000;
}
.adobe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 20px;
    position: absolute;
    width: 190px;
    height: 117px;
    left: 150px;
    top: 1735px;
}
.adc{
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}
.blahb{
    width: 150px;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}
.skills{
    position: absolute;
left: 170px;
top: 1682px;
font-weight: bold;
font-size: 24px;
}
.workk{
    position: absolute;
left: 176px;
top: 550px;
font-weight: bold;
font-size: 24px;
}
.frame40{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
position: absolute;
width: 445px;
height: 1005px;
left: 156px;
top: 603px;
}
.cardwork{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17px 20px;
position: static;
width: 445px;
height: 166px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: -20px 0px;
}
.frame20{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 405px;
height: 132px;
left: 20px;
top: 17px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.date{
font-size: 14px;
color: #828282;
margin: 0px 11px;
}
.frame110{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: static;
width: 165.97px;
height: 17px;
left: 0px;
top: 25px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 11px;
}
.title{
width: 123px;
font-weight: bold;
font-size: 14px;
}
.groupe10{
height: 16.97px;
}
.Rectangle4{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #AEA9FE 0deg, #938DF8 360deg);
transform: rotate(-45deg);
}
.Rectangle5{
    position: absolute;
width: 12px;
height: 12px;
left: 150px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FFE975 0deg, #FFCF41 360deg);
transform: rotate(-45deg);
}
.Rectangle6{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 156px;
    background: conic-gradient(from 225deg at 94.19% 5.24%, #77C9FB 0deg, #4EBFF3 360deg);
    transform: rotate(-45deg);
}
.company{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
position: static;
width: 156px;
height: 17px;
left: 0px;
top: 0px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px;
}
.txt{
width: 133px;
font-size: 14px;
}
.frame50{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 405px;
height: 57px;
left: 0px;
top: 75px;
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 8px;
}
.blah1{
font-size: 14px;
margin: 0px 3px;
}
.blah2{
font-size: 14px;
text-decoration-line: underline;
color: #2F80ED;
margin: 0px 3px;
cursor: pointer;
}
.blah3{
font-size: 14px;
text-decoration-line: underline;
color: #2F80ED;
margin: 0px 3px;
cursor: pointer;
}
.frame40_2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 20px;
position: static;
width: 445px;
height: 219px;
left: 0px;
top: 166px;
flex: none;
order: 1;
flex-grow: 0;
margin: -40px 0px;
}
.txtt{
font-size: 14px;
line-height: 17px;
color: #828282;
margin: 0px 23px;
}
.frame90{
    display: flex;
height: 17px;
flex: none;
margin: 0px 8px;
}
.txtt2{
width: 101px;
font-weight: bold;
font-size: 14px;
margin: 8px 15px;
}
.groupe0010{
margin: 8px 0px;
}
.Rectangleba{
    position: absolute;
width: 12px;
height: 12px;
left: 130px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #77C9FB 0deg, #4EBFF3 360deg);
transform: rotate(-45deg);
}
.Rectanglepi{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FE73A5 0deg, #EF5389 360deg);
transform: rotate(-45deg);
}
.frame60{
    display: flex;
align-items: center;
position: absolute;
height: 30px;
left: 16px;
top: 265px;
margin: -80px 8px;
}
.ellipseblack{
height: 30px;
}
.txtt3{
font-weight: bold;
font-size: 14px;
margin: 8px 8px;
}
.txtt4{
font-size: 14px;
}
.frame70{
flex-direction: column;
flex: none;
margin: 0px 8px;
}
.txtt5{
font-size: 14px;
line-height: 140%;
margin: 55px 17px;
}
.txtt6{
font-size: 14px;
text-decoration-line: underline;
color: #2F80ED;
margin: -50px 16px;
cursor: pointer
}
.frame55{
    align-items: flex-start;
    padding: 17px 20px;
    height: 260px;
    flex: none;
    order: 3;
    margin: 70px -4px;
}
.date2{
font-size: 14px;
color: #828282;
margin: 0px 8px;
}
.frame160{
    display: flex;
align-items: flex-end;
height: 17px;
margin: 0px 8px;
}
.txtt7{
font-weight: bold;
font-size: 14px;
margin: -4px 0px;
}
.groupe101{
height: 16.97px;
margin: 8px 0px;
}
.recty{
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FFBB87 0deg, #FFA35C 360deg);
transform: rotate(-45deg);
margin: 12px 8px;
}
.rectbl{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #77C9FB 0deg, #4EBFF3 360deg);
transform: rotate(-45deg);
margin: 12px 16px;
}
.frame600{
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0px 8px;  
}
.elipse2{
height: 14px;
}
.txtt8{
height: 1px;
font-weight: bold;
font-size: 14px;
color: #000000;
margin: 8px 6px;
}
.frame401{
height: 17px;
}
.txtt9{
font-size: 14px;
margin: 8px 2px;
}
.frame501{
margin: 13px 8px;
}
.txtt10{
height: 120px;
font-size: 14px;
line-height: 140%;
margin: 0px 2px;
}
.txtt11{
font-size: 14px;
text-decoration-line: underline;
color: #2F80ED;
margin: -4px 2px;
cursor: pointer
}
.frame80{
padding: 7px 12px;
height: 220px;
flex: none;
order: 3;
margin: -100px 6px;
}
.txtt12{
font-size: 14px;
color: #828282;
margin: 0px 8px;
}
.frame404{
    display: flex;
align-items: flex-end;
height: 17px;
margin: 0px 8px;
}
.txtt13{
width: 118px;
font-weight: bold;
font-size: 14px;
}
.groupe100{
height: 16.97px;
margin: 8px 0px;
}
.Rectangle42{
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FFBB87 0deg, #FFA45E 360deg);
transform: rotate(-45deg);
margin: 8px 0px;
}
.frame606{
    display: flex;
align-items: center;
height: 30px;
margin: 0px 8px;
}
.elipse3{
height: 24px;
}
.txtt14{
height: 10px;
font-weight: bold;
font-size: 14px;
margin: 8px 8px;
}
.frame409{
height: 17px;
}
.txtt16{
font-size: 14px;
margin: 3px 0px;
}
.txtt17{
font-size: 14px;
line-height: 140%;
margin: 12px 8px;
}
.frame99{
padding: 69px 20px;
order: 4;
}
.date0{
font-size: 14px;
color: #828282;
margin: 0px 8px;
}
.frame550{
    display: flex;
align-items: flex-end;
height: 17px;
margin: 0px 8px;
}
.txtt18{
width: 180px;
font-weight: bold;
font-size: 14px;
}
.groupe102{
height: 16.97px;
margin: 8px 0px;
}
.Rectangle8{
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #64DDBA 0deg, #3FC59D 360deg);
transform: rotate(-45deg);
margin: 8px 0px;
}
.frame66{
    display: flex;
align-items: center;
height: 36px;
margin: 0px 8px;
}
.groupe6{
height: 30px;
}
.txtt111{
font-weight: bold;
font-size: 14px;
margin: 8px 6px;
}
.txt10{
font-size: 14px;
}
.txt13{
font-size: 14px;
margin: 2px 8px;
}
.education{
    position: absolute;
width: 190px;
height: 1043.12px;
left: 660px;
top: 557px;
}
.txt23{
    position: absolute;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #000000;
}
.frame111{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
width: 190px;
height: 112.31px;
margin: 30px 0px;
}
.groupe3{
    position: absolute;
left: 64.24px;
margin: 5px -41px;
}
.txt43{
    position: absolute;
width: 130px;
left: 50px;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
margin: 48px -60px;
}
.frame12{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
position: absolute;
right: 0px;
width: 190px;
top: 142.31px;
}
.pic4{
    position: absolute;
    left: 137px;
    margin: -10px -60px;
}
.txt9{
    position: absolute;
width: 150px;
left: 80px;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
margin: 30px -60px;
}
.ttxt32{
    position: absolute;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
left: 100px;
margin: 67px -57px;
}
.frame14{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
width: 190px;
height: 109.6px;
margin: 30px 0px;
}
.pic40{
    position: absolute;
    left: 100px;
    margin: 75px -60px;  
}
.txt12{
    position: absolute;
width: 150px;
left: 20px;
top: 44.6px;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
margin: 240px -40px;
}
.txt55{
    position: absolute;
width: 140px;
left: 20px;
top: 69.6px;
font-size: 14px;
line-height: 140%;
text-align: center;
margin: 235px -30px;
}
.frame666{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px;
width: 190px;
height: 149.6px;
margin: 30px 0px;
}
.hic{
    position: absolute;
    left: 100px;
    margin: 45px -60px;  
}
.txt123{
    position: absolute;
font-weight: bold;
left: 70px;
font-size: 14px;
line-height: 140%;
text-align: center;
margin: 85px -55px;
}
.ttxt43{
    position: absolute;
width: 130px;
font-size: 14px;
line-height: 140%;
text-align: center;
left: 50px;
margin: 105px -55px;
}
.frame13{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
width: 190px;
height: 109.6px;
margin: 30px 0px;
}
.pic6{
    position: absolute;
    left: 95px;
    margin: 15px -55px;  
}
.tx1{
    position: absolute;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
left: 72px;
margin: 60px -55px;
}
.tx2{
    position: absolute;
width: 115px;
font-size: 14px;
line-height: 140%;
text-align: center;
left: 58px;
margin: 80px -55px;
}
.frame77{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
width: 190px;
margin: 30px 0px;
}
.pic7{
    position: absolute;
    left: 97px;
    margin: 5px -55px;  
}
.tx3{
    position: absolute;
width: 135px;
left: 50px;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
margin: 50px -55px;
}
.tx4{
    position: absolute;
width: 128px;
left: 53px;
font-size: 14px;
line-height: 140%;
text-align: center;
margin: 95px -55px;
}
.tx5{
    position: absolute;
width: 130px;
left: 52px;
font-size: 14px;
line-height: 140%;
text-align: center;
margin: 210px -55px;
}
.container {
position: absolute;
width: 28px;
height: 10px;
left: 170px;
top: 345px;
}
input[type="checkbox"]
{
position: relative;
width: 28px;
height: 10px;
left: 170px;
top: 345px;
-webkit-appearance: none;
background: #FCDED1;
box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
input:checked[type="checkbox"]{
    background: #FCDED1;
}
input[type="checkbox"]::before
{
    position: absolute;
    width: 1484.34px;
    height: 427.03px;
    left: 933.54px;
    top: -203.04px;
    
    mix-blend-mode: normal;
    transform: rotate(135deg);
}
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FCDED1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  }
  input:checked + .slider {
    background-color: #FCDEf5;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  
  @media (max-width: 420px) {
      .body {
        width: max-content;
        margin: 0 0 0 0;
        left: -160px;
      }
     
      .title{
        width: 135px;
        font-weight: bold;
        font-size: 14px;
        }

      .education {
          
          left: 0px;
          top: -40px;
          left: 420px;
      }
      .frame40{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 445px;
        height: 1005px;
        left: 152px;
        top: 603px;
          font-size: 10px;
          
      }
      .UI{
        font-size: 28px;
        width: 250px;
      }
      .frame2{
        left: 367px;
      }
      .contacts{
        left: 470px;
      }
      .workk{
        top: 538px;
        left: 173px;
      }
      .description{
        width: 470px;
      }
      .skills{
        left: 188px;
      }
      .adobe{
        left: 170px;
      }
      .proto{
        left: 340px;
      }
      .addition{
        left: 150px;
        top: 1842px;
      }
      .language{
        left: 340px;
        top: 1840px;
      }
      .frame50{
        width: 305px;
      }
      .txtt5{
        width: 360px;
      }
      .txtt10{
        width: 360px;
      }
      .txtt17{
        width: 340px;
      }
  }