body{
    margin: 0   auto;
    position: relative;
    width: 1000px;
    height: 2000px;
    overflow: scroll;
    
    background: #ffffffff; 
}
.logo{
    position: absolute;
width: 87px;
height: 90px;
left: 170px;
top: 110px;
}
.description{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
position: absolute;
width: 530px;
height: 120px;
left: 150px;
top: 385px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
}
.frame2{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 20px;
position: absolute;
width: 300px;
height: 21px;
left: 558px;
top: 103px;
}
.frame2 div:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #474646;
}
.resume{
    position: absolute;
    width: 62px;
    height: 21px;
    left: 20px;
    top: 0px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.about{
    position: absolute;
width: 48px;
height: 21px;
left: 122px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.portfolio{
    position: absolute;
width: 70px;
height: 21px;
left: 210px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.UI{
    position: absolute;
width: 420px;
height: 120px;
left: 168px;
top: 227px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 140%;
color: #000000;
}
.available{
    position: absolute;
width: 53px;
height: 17px;
left: 209px;
top: 342px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #0B0B0B;
}
.elipse8{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 183px;
    top: 342px;
    border-radius: 16px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
}
.union{
position: absolute;
width: 28px;
height: 10px;
left: 170px;
top: 345px;
background: #FCDED1;
box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.vector8{
    position: absolute;
width: 1484.34px;
height: 427.03px;
left: 933.54px;
top: -203.04px;
mix-blend-mode: normal;
transform: rotate(135deg);
}
.contacts{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px 20px;
position: absolute;
width: 190px;
height: 155px;
left: 660px;
top: 225px;
}
.contacts-info{
    position: static;
width: 150px;
height: 20px;
left: 20px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
}
.contacts-info  { 
 margin: 0px 0px 10px 0px;
}
.frame17{
    display: flex;
flex-direction: row;
align-items: center;
position: static;
width: 60px;
height: 35px;
left: 0px;
top: 105px;
flex: none;
order: 3;
flex-grow: 0;
}
.pic1{
    position: static;
left: 0px;
right: 0%;
top: 14.29%;
bottom: 14.29%;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
}
.pic2{
    position: static;
width: 25px;
height: 25px;
left: 0px;
top: 5px;
flex: none;
order: 0;
flex-grow: 0;
}
.language{
    display: flex;
flex-direction: column;
align-items: center;
padding: 17px 20px;

position: absolute;
width: 190px;
height: 97px;
left: 660px;
top: 1735px;
}
.languages{
    position: static;
width: 150px;
height: 17px;
left: 20px;
top: 17px;
margin-bottom: 6px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
}
.bla{
    position: static;
width: 150px;
height: 40px;
left: 20px;
top: 40px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 6px;
}
.addition{
    display: flex;
flex-direction: column;
align-items: center;
padding: 17px 20px;
position: absolute;
width: 190px;
height: 97px;
left: 490px;
top: 1735px;
}
.additional{
    position: static;
width: 150px;
height: 17px;
left: 20px;
top: 17px;
margin-bottom: 6px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
}
.htmlcss{
    position: static;
width: 150px;
height: 40px;
left: 20px;
top: 40px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 6px;
}
.proto{
    display: flex;
flex-direction: column;
align-items: center;
padding: 17px 20px;
position: absolute;
width: 190px;
height: 117px;
left: 320px;
top: 1735px;
}
.prototyping{
    position: static;
width: 150px;
height: 17px;
left: 20px;
top: 17px;
margin-bottom: 6px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
}
.blab{
    position: static;
    width: 150px;
    height: 60px;
    left: 20px;
    top: 40px;
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 6px;
}
.adobe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 20px;
    position: absolute;
    width: 190px;
    height: 117px;
    left: 150px;
    top: 1735px;
}
.adc{
    position: static;
    width: 150px;
    height: 17px;
    left: 20px;
    top: 17px;
    margin-bottom: 6px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.blahb{
    position: static;
    width: 150px;
    height: 60px;
    left: 20px;
    top: 40px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.skills{
    position: absolute;
width: 85px;
height: 29px;
left: 170px;
top: 1682px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
color: #000000;
}
.workk{
    position: absolute;
width: 184px;
height: 29px;
left: 176px;
top: 550px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
color: #000000;
}
.frame40{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
position: absolute;
width: 445px;
height: 1005px;
left: 156px;
top: 603px;
}
.cardwork{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17px 20px;
position: static;
width: 445px;
height: 166px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: -20px 0px;
}
.frame20{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 405px;
height: 132px;
left: 20px;
top: 17px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.date{
    position: static;
width: 108px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #828282;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 11px;
}
.frame110{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: static;
width: 165.97px;
height: 17px;
left: 0px;
top: 25px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 11px;
}
.title{
    position: static;
width: 123px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.groupe10{
    position: static;
width: 34.97px;
height: 16.97px;
left: 131px;
top: 0.01px;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.Rectangle4{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #AEA9FE 0deg, #938DF8 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
}
.Rectangle5{
    position: absolute;
width: 12px;
height: 12px;
left: 150px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FFE975 0deg, #FFCF41 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
}
.Rectangle6{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 156px;
    background: conic-gradient(from 225deg at 94.19% 5.24%, #77C9FB 0deg, #4EBFF3 360deg);
    mix-blend-mode: normal;
    border-radius: 2px;
    transform: rotate(-45deg);
}
.company{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
position: static;
width: 156px;
height: 17px;
left: 0px;
top: 0px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px;
}
.txt{
    position: static;
width: 133px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 5px;
}
.frame50{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 405px;
height: 57px;
left: 0px;
top: 75px;
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 8px;
}
.blah1{
    position: static;
width: 405px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 3px;
cursor: pointer;
}
.blah2{
    position: static;
width: 115px;
height: 17px;
left: 0px;
top: 20px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;
color: #2F80ED;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 3px;
cursor: pointer;
}
.blah3{
    position: static;
width: 101px;
height: 17px;
left: 0px;
top: 40px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;
color: #2F80ED;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 3px;
cursor: pointer;
}
.frame40_2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 20px;
position: static;
width: 445px;
height: 219px;
left: 0px;
top: 166px;
flex: none;
order: 1;
flex-grow: 0;
margin: -40px 0px;
}
.txtt{
    position: static;
width: 124px;
height: 17px;
left: 20px;
top: 16px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #828282;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 23px;
}
.frame90{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: static;
width: 134.97px;
height: 17px;
left: 20px;
top: 41px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}
.txtt2{
    position: static;
width: 101px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 15px;
}
.groupe0010{
    position: static;
width: 25.97px;
height: 16.97px;
left: 109px;
top: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.Rectangleba{
    position: absolute;
width: 12px;
height: 12px;
left: 130px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #77C9FB 0deg, #4EBFF3 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
}
.Rectanglepi{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FE73A5 0deg, #EF5389 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
}
.frame60{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: absolute;
width: 357px;
height: 30px;
left: 16px;
top: 265px;
flex: none;
order: 2;
flex-grow: 0;
margin: -80px 8px;
}
.ellipseblack{
    position: static;
width: 30px;
height: 30px;
left: 0px;
top: 0px;
background: url(1.png);
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.txtt3{
    position: static;
width: 127px;
height: 17px;
left: 45px;
top: 6.5px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 8px;
}
.frame444{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 184px;
height: 17px;
left: 173px;
top: 6.5px;
flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;
}
.txtt4{
    position: static;
width: 194px;
height: 17px;
left: 10px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 5px;
}
.frame70{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 405px;
height: 99px;
left: 20px;
top: 104px;
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 8px;
}
.txtt5{
    position: static;
width: 405px;
height: 78px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 55px 17px;
}
.txtt6{
    position: static;
width: 95px;
height: 17px;
left: 0px;
top: 82px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;
color: #2F80ED;
flex: none;
order: 1;
flex-grow: 0;
margin: -50px 16px;
cursor: pointer
}
.frame55{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 20px;
    position: static;
    width: 445px;
    height: 260px;
    left: 0px;
    top: 385px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 70px -4px;
}
.date2{
    position: static;
width: 124px;
height: 17px;
left: 20px;
top: 17px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #828282;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
}
.frame160{
    display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
position: static;
width: 271.97px;
height: 17px;
left: 20px;
top: 42px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}
.txtt7{
    position: static;
width: 239px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: -4px 0px;
}
.groupe101{
    position: static;
width: 24.97px;
height: 16.97px;
left: 247px;
top: 0.03px;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.recty{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FFBB87 0deg, #FFA35C 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
margin: 12px 8px;
}
.rectbl{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #77C9FB 0deg, #4EBFF3 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
margin: 12px 16px;
}
.frame600{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 286px;
    height: 30px;
    left: 20px;
    top: 67px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 8px;  
}
.elipse2{
    position: static;
width: 30px;
height: 14px;
left: 0px;
top: 0px;
background: url(5.jpg);
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.txtt8{
    position: static;
width: 40px;
height: 1px;
left: 38px;
top: 6.5px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 6px;
}
.frame401{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: static;
width: 200px;
height: 17px;
left: 86px;
top: 6.5px;
flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;
}
.txtt9{
    position: static;
width: 202px;
height: 17px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 2px;
}
.frame501{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: static;
width: 405px;
height: 138px;
left: 20px;
top: 105px;
flex: none;
order: 3;
flex-grow: 0;
margin: 13px 8px;
}
.txtt10{
    position: static;
width: 405px;
height: 120px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 2px;
}
.txtt11{
    position: static;
width: 170px;
height: 16px;
left: 0px;
top: 122px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;
color: #2F80ED;
flex: none;
order: 1;
flex-grow: 0;
margin: -4px 2px;
cursor: pointer
}
.frame80{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 7px 12px;
position: static;
width: 445px;
height: 200px;
left: 0px;
top: 645px;
flex: none;
order: 3;
flex-grow: 0;
margin: -100px 6px;
}
.txtt12{
    position: static;
width: 127px;
height: 17px;
left: 20px;
top: 17px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #828282;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
}
.frame404{
    display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
position: static;
width: 142.97px;
height: 17px;
left: 20px;
top: 42px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}
.txtt13{
    position: static;
width: 118px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
.groupe100{
    position: static;
width: 16.97px;
height: 16.97px;
left: 126px;
top: 0.03px;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.Rectangle42{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #FFBB87 0deg, #FFA45E 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
margin: 8px 0px;
}
.frame606{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: static;
width: 313px;
height: 30px;
left: 20px;
top: 67px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 8px;
}
.elipse3{
    position: static;
width: 30px;
height: 24px;
left: 0px;
top: 0px;
background: url(3.jpg);
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
.txtt14{
    position: static;
width: 58px;
height: 10px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 8px;
}
.frame409{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: static;
width: 209px;
height: 17px;
left: 104px;
top: 6.5px;
flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;
}
.txtt16{
    position: static;
width: 209px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 3px 0px;
}
.txtt17{
    position: static;
width: 405px;
height: 78px;
left: 20px;
top: 105px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #000000;
flex: none;
order: 3;
flex-grow: 0;
margin: 12px 8px;
}
.frame99{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 69px 20px;
position: static;
width: 445px;
height: 160px;
left: 0px;
top: 845px;
flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;
}
.date0{
    position: static;
width: 125px;
height: 17px;
left: 20px;
top: 17px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #828282;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
}
.frame550{
    display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
position: static;
width: 196.97px;
height: 17px;
left: 20px;
top: 42px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;
}
.txtt18{
    position: static;
width: 172px;
height: 17px;
left: 0px;
top: 0px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
.groupe102{
    position: static;
width: 16.97px;
height: 16.97px;
left: 180px;
top: 0.03px;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}
.Rectangle8{
    position: absolute;
width: 12px;
height: 12px;
background: conic-gradient(from 225deg at 94.19% 5.24%, #64DDBA 0deg, #3FC59D 360deg);
mix-blend-mode: normal;
border-radius: 2px;
transform: rotate(-45deg);
margin: 8px 0px;
}
.frame66{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: static;
width: 336px;
height: 36px;
left: 20px;
top: 67px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 8px;
}
.groupe6{
    position: static;
width: 30px;
height: 30px;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.txtt111{
    position: static;
width: 49px;
height: 17px;
left: 38px;
top: 6.5px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 6px;
}
.frame411{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
position: static;
width: 241px;
height: 17px;
left: 95px;
top: 6.5px;
flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;
}
.txt10{
    position: static;
width: 245px;
height: 17px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
.txt13{
    position: static;
width: 405px;
height: 38px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #000000;
flex: none;
order: 3;
flex-grow: 0;
margin: 2px 8px;
}
.education{
    position: absolute;
width: 190px;
height: 1043.12px;
left: 660px;
}
.txt23{
    position: absolute;
width: 150px;
height: 29px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.frame111{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
position: static;
width: 190px;
height: 112.31px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 30px 0px;
}
.groupe3{
    position: absolute;
width: 61.51px;
height: 42.31px;
left: 64.24px;
flex: none;
order: 0;
flex-grow: 0;
margin: 5px -41px;
}
.txt43{
    position: absolute;
width: 130px;
height: 40px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 48px -60px;
}
.frame12{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
position: absolute;
width: 190px;
height: 111.43px;
left: 0px;
top: 142.31px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}
.pic4{
    position: absolute;
    margin: -10px -60px;
}
.txt9{
    position: absolute;
width: 150px;
height: 40px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 30px -60px;
}
.ttxt32{
    position: absolute;
width: 150px;
height: 19px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 67px -57px;
}
.frame14{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
position: static;
width: 190px;
height: 109.6px;
top: 283.73px;
flex: none;
order: 2;
flex-grow: 0;
margin: 30px 0px;
}
.pic40{
    position: absolute;
    margin: 75px -60px;  
}
.txt12{
    position: absolute;
width: 150px;
height: 20px;
left: 20px;
top: 44.6px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 240px -40px;
}
.txt55{
    position: absolute;
width: 140px;
height: 40px;
left: 20px;
top: 69.6px;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 235px -30px;
}
.frame666{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
position: static;
width: 190px;
height: 149.6px;
left: 0px;
top: 423.33px;
flex: none;
order: 3;
flex-grow: 0;
margin: 30px 0px;
}
.hic{
    position: absolute;
    margin: 45px -60px;  
}
.txt123{
    position: absolute;
width: 150px;
height: 20px;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 85px -55px;
}
.ttxt43{
    position: absolute;
width: 130px;
height: 80px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 105px -55px;
}
.frame13{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
position: static;
width: 190px;
height: 109.6px;
left: 0px;
top: 602.93px;
flex: none;
order: 4;
flex-grow: 0;
margin: 30px 0px;
}
.pic6{
    position: absolute;
    margin: 15px -55px;  
}
.tx1{
    position: absolute;
width: 150px;
height: 20px;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 60px -55px;
}
.tx2{
    position: absolute;
width: 115px;
height: 40px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 80px -55px;
}
.frame77{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
position: static;
width: 190px;
height: 254.6px;
left: 0px;
top: 742.53px;
flex: none;
order: 5;
flex-grow: 0;
margin: 30px 0px;
}
.pic7{
    position: absolute;
    margin: 5px -55px;  
}
.tx3{
    position: absolute;
width: 135px;
height: 40px;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
margin: 50px -55px;
}
.tx4{
    position: absolute;
width: 128px;
height: 100px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin: 95px -55px;
}
.tx5{
    position: absolute;
width: 130px;
height: 60px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 3;
flex-grow: 0;
margin: 210px -55px;
}
.container {
position: absolute;
width: 28px;
height: 10px;
left: 170px;
top: 345px;
}
input[type="checkbox"]
{
position: relative;
width: 28px;
height: 10px;
left: 170px;
top: 345px;
-webkit-appearance: none;
background: #FCDED1;
box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
input:checked[type="checkbox"]{
    background: #FCDED1;
}
input[type="checkbox"]::before
{
    position: absolute;
    width: 1484.34px;
    height: 427.03px;
    left: 933.54px;
    top: -203.04px;
    
    mix-blend-mode: normal;
    transform: rotate(135deg);
}
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FCDED1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
  }
  input:checked + .slider {
    background-color: #FCDEf5;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }